html,
body {
  position: relative;
  top: 0;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
.app-container {
  min-height: 100%;
}

body {
  font-family: 'Krona One', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4em;
  font-weight: 300;
}

h1 {
  font-size: 6em;
  margin-bottom: 1em;
}
.app {
  padding: 20px;
}
.spotlight {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-left: 300px;
}
.spotlight, .team-member {
  cursor: pointer;
}
.spotlight .team-member,
.spotlight .team-member > .member-icon {
  font-size: 2.5em;
}
.team-members-container {
  margin-left: 50px;
}
.team-members-container.todo {
  height: 10em;
}
.team-members-container.done {
  position: fixed;
  bottom: 0;
  height: 7em;
}
.team-members-container > span {
  font-size: 1.5em;
}
.team-members > ul {
  list-style: none;
  white-space: nowrap;
  line-height: 2em;
}
.team-members > li {
  display: inline;
  margin-right: 2em;
}
.team-member {
  display: inline-flex;
  align-items: center;
}
.team-member:before {
  font-family: 'Material Icons';
  content: 'person';
  vertical-align: middle;
  margin-right: .1em;
}
.team-members,
.team-member:before {
  font-size: 1.3em;
}


.balloons {
    position: fixed;
    top: 270px;
}
.balloons.hidden {
    display: none;
}
.balloon {
    display: inline-block;
    width: 120px;
    height: 145px;
    background: hsl(215,50%,65%);
    border-radius: 80%;
    position: relative;
    box-shadow: inset -10px -10px 0 rgba(0,0,0,0.07);
    margin: 20px 55px;
    transition: transform 0.5s ease;
    z-index: 10;
    animation: balloons 4s ease-in-out infinite;
    transform-origin: bottom center;
}

@keyframes balloons {
    0%,100%{ transform: translateY(0) rotate(-4deg); }
    50%{ transform: translateY(-25px) rotate(4deg); }
}


.balloon:before {
    content: "▲";
    font-size: 20px;
    color: hsl(215,30%,50%);
    display: block;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: -12px;
    z-index: -100;
}

.balloon:after {
    display: inline-block;
    top: 153px;
    left:  59px;
    position:  absolute;
    height: 250px;
    width: 1px;
    margin: 0 auto;
    content: "";
    background: rgba(255,255,255,0.2);
}

.balloon:nth-child(2){ background: hsl(245,40%,65%); animation-duration: 3.5s; }
.balloon:nth-child(2):before { color: hsl(245,40%,65%);  }

.balloon:nth-child(3){ background: hsl(139,50%,60%); animation-duration: 3s; }
.balloon:nth-child(3):before { color: hsl(139,30%,50%);  }

.balloon:nth-child(4){ background: hsl(59,50%,58%); animation-duration: 4.5s; }
.balloon:nth-child(4):before { color: hsl(59,30%,52%);  }

.balloon:nth-child(5){ background: hsl(23,55%,57%); animation-duration: 5s; }
.balloon:nth-child(5):before { color: hsl(23,44%,46%);  }


