html,
body {
  position: relative;
  top: 0;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
.app-container {
  min-height: 100%;
}

body {
  font-family: 'Krona One', Arial, sans-serif;
  font-size: 14px;'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  font-weight: 300;
}

h1 {
  font-size: 6em;
  margin-bottom: 1em;
}
.app {
  padding: 20px;
}
.spotlight {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-left: 300px;
}
.spotlight .team-member {
  position: relative;
  top: 128px;
  left: 110px;
}
/* TODO: fix this for member-icon
.spotlight .team-member,
.spotlight .team-member > member-icon {
  font-size: 40px
}
*/
.team-members-container {
  margin-left: 50px;
}
.team-members-container.todo {
  margin-bottom: 100px;
}
.team-members-container.done {
  position: fixed;
  bottom: 0;
  margin-bottom: 30px;
}
.team-members-container > span {
  font-size: 1.5em;
}
.team-members {
  list-style: none;
  white-space: nowrap;
  line-height: 2em;
  font-size: 120%;
}
.team-members > li {
  display: inline;
  margin-right: 2em;
}
.member-icon {
  position: relative;
  top: 4px;
  margin-right: 5px;
}
